* {
  color: rebeccapurple;
}

.linkCode {
  cursor: none;
}

.main__title {
  display: flex;
  justify-content: center;
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
}

.Title__web {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-size: 80px;
  font-style: bold;
}

.bootstrap__logo {
  width: 250px;
  height: 200px;
  margin: auto;
  padding: 0px 8px 0px 14px;
}
